<article data-area="{{ item.tags[0]|lower }}" class="item col-xs-12 col-sm-6 col-md-3" data-id="{{ item.id }}">
    <div class="wrapper">
        <h2><a href="{{ item.url }}" target="_blank" title="Gå til {{ item.name }}'s website">{{ item.name }}</a></h2>
        <address><a href="https://www.google.dk/maps/place?q={{ item.name|url_encode(true) }},{{ item.address|url_encode(true) }},dk" target="_blank" data-toggle="modal" data-target="#myModal" title="{{ item.name }} på Google maps">{{ item.address|replace({', ':'<br>'})|raw }}</a></address>
        <div class="credit"><a href="{{ item|roasterUrl }}" title="Yderligere oplysninger om {{ item.name }}">Mere info</a></div>
    </div>
</article>

{# <span style="background-image:url(https://maps.googleapis.com/maps/api/streetview?size=640x200&amp;location={{ item.address.coordinates.lat }},{{ item.address.coordinates.lon }}&amp;fov=90&amp;heading=235&amp;pitch=10)"></span> #}
