<article data-area="{{ item.tags[0] }}" class="item">
    <h2><a href="{{ item.url }}" target="_blank">{{ item.name }}</a></h2>
    <address><a href="https://www.google.dk/maps/place/{{ item.address.coordinates.lat }},{{ item.address.coordinates.lon }}" target="_blank">{{ item.address }}</a></address>
    <div class="credit">
        Tak til:
        {% for c in item.credit %}
            <a href="{{ c.source }}" target="_blank">{{ c.name }}</a>{% if loop.last %}{% else %}, {% endif %}
        {% else %}
            Google
        {% endfor %}
    </div>
    <span style="background-image:url(https://maps.googleapis.com/maps/api/streetview?size=640x200&amp;location={{ item.address.coordinates.lat }},{{ item.address.coordinates.lon }}&amp;fov=90&amp;heading=235&amp;pitch=10)"></span>
</article>

{# &amp;key=AIzaSyCN83anDeWz_fgD8_k8z-yW6chHPX8C-Vw #}
