{% extends 'layout.html.twig' %}

{% block headers %}
    <h2>Danske kafferisterier</h2>
    <h3>- lidt om sitet her</h3>
{% endblock %}

{% block content %}
    <section class="container-fluid google-maps" id="map-container"></section>
    <section class="container-fluid about">
        <div class="col-md-6 col-md-offset-3 col-xs-12">
            <h3>Vi elsker go' kaffe</h3>
            <p>Ideen bag sitet er at skabe en komplet liste over alle kafferisterier i Danmark - intet mindre.</p>
            <p>Derfor opfordrer vi også alle til at kontakte os, hvis i finder at der er et risteri der mangler på listen.</p>
            <p>Pt. er listen skabt ved flittig brug af Google og de "få rå" som er krediteret nederst på siden her.</p>

            <h3>Vi kan kontaktes</h3>
            <p>- det kan vi jo, ellers er det svært at få tilføjet nye spændende risterier til listen.</p>
            <p>Skriv til os pr. <a href="mailto:me@ulrik.co">mail</a> eller via vores <a href="https://www.facebook.com/dkroasters">facebook</a> side.</p>

            <h3>Credits</h3>
            <ul>
                <li><a href="http://ramlev.dk/">Hasse Ramlev Hansen</a></li>
                <li><a href="http://mindthemedia.com/">Jonny Højdam</a></li>
                <li><a href="http://logan.dk/">Logan Raarup</a></li>
                <li><a href="http://www.fleurie.dk/">Marie Støvlbæk Garbenfeldt</a></li>
                <li><a href="http://www.theforce.dk/">Michael Kjeldsen</a></li>
                <li><a href="https://www.facebook.com/elehammer">Per Gylling</a></li>
                <li><a href="https://www.facebook.com/nielsenrita">Rita Jacobsen</a></li>
                <li><a href="http://ulrik.co/">Ulrik Nielsen</a></li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    {{ parent() }}

<script>var map, roasters = [{% for roaster in roasters %}{name: '{{ roaster.name }}', lat: {{ roaster.address.coordinates.lat }}, lon: {{ roaster.address.coordinates.lon }}, address: '{{ roaster.address|replace({', ': '<br>'})|raw }}', url: '{{ roaster.url }}'}{% if loop.last %}{% else %},{% endif %}{% endfor %}];function initMap() {var styles = [{featureType: "all", stylers: [{ saturation: -80 }]},{featureType: "road.arterial", elementType: "geometry", stylers: [{ hue: "#422518" }, { saturation: 50 }]},{featureType: "poi.business", elementType: "labels", stylers: [{ visibility: "off" }]}];var styledMap = new google.maps.StyledMapType(styles, {name: "Styled Map"});map = new google.maps.Map(document.getElementById('map-container'), {disableDefaultUI: true, scrollwheel: false, navigationControl: false, mapTypeControl: false, scaleControl: false, draggable: false, mapTypeId: [google.maps.MapTypeId.ROADMAP, 'map_style']});map.mapTypes.set('map_style', styledMap);map.setMapTypeId('map_style');var bounds = new google.maps.LatLngBounds();$.each(roasters, function(i, roaster) {var point = new google.maps.LatLng(roaster.lat, roaster.lon);bounds.extend(point);var marker = new google.maps.Marker({position: point, map: map});});map.fitBounds(bounds);map.setZoom(6);}</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCN83anDeWz_fgD8_k8z-yW6chHPX8C-Vw&callback=initMap&language=da"></script>
{% endblock %}
