{% extends "layout.html.twig" %}
{% block content %}

    <section class="container-fluid google-maps" id="map-container"></section>

    <section class="container-fluid roasters">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Område <span class="caret"></span></a>
                            <ul class="dropdown-menu js-select-area">
                                <li class="active"><a data-area="">Hele landet</a></li>
                                <li><a data-area="bornholm">Bornholm</a></li>
                                <li><a data-area="fyn">Fyn</a></li>
                                <li><a data-area="jylland">Jylland</a></li>
                                <li><a data-area="sjælland">Sjælland</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="navbar-text js-by-distance hidden">
                        <label>
                            <input type="checkbox"> vis nærmeste først
                        </label>
                    </div>
                    {#<form class="navbar-form navbar-right" role="search">#}
                        {#<button type="submit" class="btn btn-default">Tilføj Risteri</button>#}
                    {#</form>#}
                </div>
            </div>
        </nav>

        <div class="list">
            {% include 'roaster-list.html.twig' %}
        </div>
    </section>

    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Luk"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script>(function($) {if ("geolocation" in navigator) {$('.js-by-distance').removeClass('hidden');$('.js-select-area a').on('click', function(event) {var area = $(this).data('area');$('.list article').removeClass('hidden');if ('' === area) {return;}$('.list article').not('[data-area="'+area+'"]').addClass('hidden');});}})(jQuery);</script>
    <script>var map;var roasters = [{% for roaster in roasters %}{name: '{{ roaster.name }}', lat: {{ roaster.address.coordinates.lat }}, lon: {{ roaster.address.coordinates.lon }}, address: '{{ roaster.address|replace({', ': '<br>'})|raw }}', url: '{{ roaster.url }}'}{% if loop.last %}{% else %},{% endif %}{% endfor %}];function initMap() {var styles = [{featureType: "all", stylers: [{ saturation: -80 }]},{featureType: "road.arterial", elementType: "geometry", stylers: [{ hue: "#422518" }, { saturation: 50 }]},{featureType: "poi.business", elementType: "labels", stylers: [{ visibility: "off" }]}];var styledMap = new google.maps.StyledMapType(styles, {name: "Styled Map"});map = new google.maps.Map(document.getElementById('map-container'), {disableDefaultUI: true, scrollwheel: false, navigationControl: false, mapTypeControl: false, scaleControl: false, draggable: false, mapTypeId: [google.maps.MapTypeId.ROADMAP, 'map_style']});map.mapTypes.set('map_style', styledMap);map.setMapTypeId('map_style');var bounds = new google.maps.LatLngBounds();$.each(roasters, function(i, roaster) {var point = new google.maps.LatLng(roaster.lat, roaster.lon);bounds.extend(point);var marker = new google.maps.Marker({position: point, map: map});});map.fitBounds(bounds);map.setZoom(6);}</script>
    <script>(function($) {$('.item address a').on('click', function(event) {event.preventDefault();var base = 'https://www.google.com/maps/embed/v1/place?key=AIzaSyCN83anDeWz_fgD8_k8z-yW6chHPX8C-Vw&';var $modal = $('#myModal');$('.modal-title', $modal).text(this.title);$('iframe', $modal).attr('src', base+this.href.split('?')[1]);});})(jQuery);</script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCN83anDeWz_fgD8_k8z-yW6chHPX8C-Vw&callback=initMap&language=da"></script>
    <script>(function($){$(document).on('change','select',function(){var s=$(this).find(':selected').val();if(''==s){$('article.item').removeClass('hidden');$('footer span').text($('article.item:visible').length);return;}$('article.item').addClass('hidden');$('[data-area='+s+']').removeClass('hidden');$('footer span').text($('article.item:visible').length);});})(jQuery);</script>
    <script>if ("geolocation" in navigator) {var $byDistance = $('.js-by-distance');$byDistance.removeClass('hidden');$('input', $byDistance).on('change', function(e) {if (false === e.target.checked) {return;}e.preventDefault();var s = function(pos) {var payload = {lat: pos.coords.latitude, lon: pos.coords.longitude};$.get(_baseUrl+'/geo-sort', payload, function(response) {$('.roasters .list').html(response);});};navigator.geolocation.getCurrentPosition(s);});}</script>
{% endblock javascript %}
