{% extends 'layout.html.twig' %}

{% block content %}
    <header>
        <img src="https://maps.googleapis.com/maps/api/streetview?size=200x200&amp;location={{ roaster.address.coordinates.lat }},{{ roaster.address.coordinates.lon }}&amp;fov=90&amp;heading=235&amp;pitch=10">
        <address>
            <h1>{{ roaster.name }}</h1>
            <p>{{ roaster.address|replace({', ':'<br>'})|raw }}</p>
        </address>

        <div style="display: table-cell">
            Stiftet: {{ roaster.establishedAt('Y-m-d') }}<br>
        {% if roaster.invalidatedAt %}
            Ophørt: {{ roaster.invalidatedAt('Y-m-d') }}<br>
        {% endif %}

            Links:
            <a href="{{ roaster.url }}">Website</a>
            {% for key, url in roaster.feeds %}
                , <a href="{{ url|toUrl(key) }}">{{ key|capitalize }}</a>
            {% endfor %}
        </div>
    </header>

{% if roaster.feeds|length %}
    <section>
        <h2>Seneste fra {{ roaster.name }} på de "sociale":</h2>
        {% for key, url in roaster.feeds %}
            <article>
                <h3><a href="{{ url|toUrl(key) }}">{{ key|capitalize }}</a></h3>
                {{ render(url(key ~ '-partial', {'token': url|url_encode})) }}
            </article>
        {% endfor %}
    </section>
{% endif %}

{% endblock %}
